---
layout: default
title: Ian Wang
---
<div class="blurb">
	<h1>Quichi.me</h1>
	<p>Hi, my name's Ian. I'm a developer/artist/student who enjoys gamedev.</p>

	<br/>

	<h2>
		Recent Posts
	</h2>

	<ul class="posts">
		{% assign counter = 0 %}
		{% for post in site.posts %}
			{% if post.tags contains 'post'%}
				<li><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
				{% counter = counter + 1 %}
				<!-- Only show 6 recent posts on the home page -->
				{% if counter > 5 %}
					{% break %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
</div><!-- /.blurb -->