html{
  height:100%;
  width:100%;
  margin:0px;
}
body{
  background-color:#111414;
  font-family:Poiret One;
  color:#FFFFFF;
  height:100%;
  width:100%;
  margin:0px;
}
a:link, a:visited{
  color:#FFF;
}
a:hover{
  color:#71ECF5;
}
a:active{
  color:#B3FFF5;
}
p{
  font-size:15px;
}
#ctn{
  height: 100%;
  width:100%;
  margin:0px;
}
#side{
  background-image:url("assets/l_bg.jpg");
  background-size:100% 100%;
  height:100%;
  text-align:center;
  margin:0px;
}
#name{
  font-size:50px;
}
#main{
  height:100%;
  overflow-y: scroll;
  margin:0px;
}
#post{
  height:200px;
  padding:25px;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.title{
  font-size:30px;
}
.icon{
  font-size:40px;
}
.link{
  text-decoration: underline;
}
.foot{
  font-size:10px;
  color:#CCC;
}
