html{
  height:100%;
}
body{
  background-color:#111414;
  font-family:Poiret One;
  color:#FFFFFF;
  height:100%;
}
#ctn{
  height: 100%;
}
#side{
  background-image:url("assets/l_bg.jpg");
  background-size:100% 100%;
  height:100%;
  text-align:center;
}
#name{
  font-size:50px;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.title{
  font-size:30px;
}
.icon{
  font-size:40px;
}
a:link, a:visited{
  color:#FFF;
}
a:hover{
  color:#71ECF5;
}
a:active{
  color:#B3FFF5;
}
