---
layout: default
title: Blog
---
<h1>{{ page.title }}</h1>

{% for post in site.categories.post %}
	{% if post.tags contains 'post' %}
		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		{% if year != nyear %}
			{% if forloop.index != 1 %}</ul>{% endif %}
			<h3 class="collapsible">{{ post.date | date: '%Y' }}</h3>
			<ul class="postList">
		{% endif %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		<time>{{ post.date | date: "%e %B %Y" }}</time>
	{% endif %}
{% endfor %}

<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}
</script>