---
layout: default
title: Blog
---
<h1>{{ page.title }}</h1>

{% for post in site.posts %}
	{% if post.tags contains 'post' %}
		{% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
		{% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
		{% if month != nmonth %}
			{% if forloop.index != 1 %}</div></ul>{% endif %}
			<h3>{{ post.date | date: '%B %Y' }}</h3>
			<ul class="postList">
			<div>
		{% endif %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		<time>{{ post.date | date: "%e %B %Y" }}</time>
	{% endif %}
{% endfor %}

<script>
	var coll = document.getElementsByClassName("postList");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			// this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}
</script>