body{
  color:#FFFFFF;
  font-family:Poiret One;
  height:100%;
  width:100%;
  margin:0px;
}
h1{
  font-size:30px;
}
p{
  font-size:15px;
}
a:link, a:visited{
  color:#FFF;
}
a:hover{
  color:#71ECF5;
}
a:active{
  color:#B3FFF5;
}
.title{
  text-decoration:none;
}
.post{
  background-color:#466D75;
  margin:10px;
  border-radius:10px;
  padding:10px;
}
.link{
  text-decoration: underline;
}
.foot{
  font-size:10px;
  color:#CCC;
}
