<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to google fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
        <!-- load the constantcontact universal code -->
        {% include constantcontact.html %}
    </head>
    <body>
        <div class="container">
        
            <nav id="navigation">
                <ul>
                    <li><a class="menu" href="/">Home</a></li>
                    <li><a class="menu" href="/about">About</a></li>
                    <li><a class="menu" href="/blog">Blog</a></li>
                    <li><a class="menu" href="/projects">Projects</a></li>
                </ul>
            </nav>

            <div class="content">
                {{ content }}
            </div>
        
            <div class="footer">
                <h3>Subscribe via <a href="blog/atom.xml">RSS</a></h3>
                <br />
                    <a href="https://github.com/ianw3214" class="link" target="_blank"><i class="fa-3x fab fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/ianw3214" class="link" target="_blank"><i class="fa-3x fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/ianw3214/" class="link" target="_blank"><i class="fa-3x fab fa-linkedin-in" aria-hidden="true"></i></a>
                <br />
                <br />
                <h3>Sign up to the <a href="/mailing" target="_blank"> mailing list</a></h3>
            </div>

        </div>
    </body>
</html>