<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
        <!-- load the constantcontact universal code -->
        {% include constantcontact.html %}
    </head>
    <body>
        <nav id="navigation">
            <ul>
                <li><a class="menu" href="/">Home</a></li>
                <li><a class="menu" href="/about">About</a></li>
                <li><a class="menu" href="/blog">Blog</a></li>
                <li><a class="menu" href="/projects">Projects</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div><!-- /.container -->
        <footer>
            <h3>Subscribe via <a href="blog/atom.xml">RSS</a></h3>
            <br/>
            <ul>
                <li>
                    <a href="https://github.com/ianw3214" target="_blank"><i class="fa-3x fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/ianw3214" target="_blank"><i class="fa-3x fa fa-twitter" aria-hidden="true"></i></a>
                </li>
            </ul>
            <br/>
            <h3>Sign up to the <a href="/mailing" target = "_blank"> mailing list</a></h3>
        </footer>
    </body>
</html>